body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
    background-color : #fff;
    font-family :Serif;
    font-size :15pt;
  }

  nav {
    display: none;
  }
  
  main { /* Modifications : suppression de la bordure - marges */
    margin :7% 10%;
    border :none;
  }

  iframe {
    display: none;
  }

  .reviews {
    display: none;
  }
  
  
  h1 { /* Affichage du titre */
    margin-bottom: 36pt;
    padding :0;
    text-align: center;
    line-height :25pt;
    font-size :25pt;
  }

  h2, h3, a { /* Modification de la couleur des titres et liens */
    color :#000;
  }

  h2 {
    margin-top: 24pt;
  }

  h3 {
    margin-top: 12pt;
  }
  